* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "poppins", sans-serif;
}
body {
  color: #ededed;
  background: rgb(201, 232, 251);
}
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 10%;
  background: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

.logo {
  position: relative;
  font-size: 25px;
  color: #fff;
  text-decoration: none;
  font-weight: 600;
  cursor: default;
  opacity: 1;
  animation: slideRight 1s ease forwards;
}

.navbar a {
  display: inline-block;
  font-size: 25px;
  color: #fff;
  text-decoration: none;
  font-weight: 500;
  margin-left: 35px;
  transition: 0.5s;
  opacity: 0;
  animation: slideTop 0.5s ease forwards;
  animation-delay: calc(0.2s * var(--i));
}

.navbar a:hover {
  color: black;
}

.home {
  position: relative;
  width: 100%;
  justify-content: space-between;
  height: 100vh;
  background: url(image/wallpapernew1.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  padding: 70px 10% 0;
}

.home-content {
  max-width: 600px;
}
.home-content h3 {
  font-size: 32px;
  font-weight: 700;
  opacity: 0;
  animation: slideBottom 1s ease forwards;
  animation-delay: 0.7s;
}

.home-content h3 span {
  color: black;
}

.home-content h3:nth-of-type(2) {
  margin-bottom: 30px;
  animation: slideTop 1s ease forwards;
  animation-delay: 0.7s;
}

.home-content h1 {
  font-size: 56px;
  font-weight: 700;
  margin: -3px 0;
  opacity: 0;
  animation: slideRight 1s ease forwards;
  animation-delay: 1s;
}
.home-content p {
  font-size: 20px;
  opacity: 0;
  animation: slideLeft 1s ease forwards;
  animation-delay: 1s;
}
.home-sci a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background: transparent;
  border: 2px solid black;
  border-radius: 50%;
  font-size: 20px;
  color: black;
  text-decoration: none;
  transition: 0.5s ease;
  margin: 30px 15px 30px 0;
  opacity: 0;
  animation: slideLeft 1s ease forwards;
  animation-delay: calc(0.2s * var(--i));
}

.home-sci a:hover {
  background-color: rgb(11, 207, 238);
  color: black;
  box-shadow: 0 0 20px rgb(68, 21, 197);
}

.btn-box {
  display: inline-block;
  padding: 12px 28px;
  background: #0ef;
  border-radius: 40px;
  font-size: 16px;
  color: black;
  letter-spacing: 1px;
  text-decoration: none;
  font-weight: 600;
  opacity: 0;
  animation: slideTop 1s ease forwards;
  animation-delay: 1.5s;
  box-shadow: 0 0 5px black, 0 0 25px black;
}

.btn-box:hover {
  box-shadow: 0 0 5px black, 0 0 25px black, 0 0 50px black, 0 0 100px black,
    0 0 200px black;
}

/*making flex box by gpt in case grid didnt work*/
/* .about {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.about-img {
  max-width: 350px; 
  margin-right: 1.5rem; 
}

.about-img img {
  width: 100%; 
  height: auto;
  border-radius: 8px;
}

.about-text h2 {
  font-size: 60px;
}

.about-text h2 span {
  color: black;
}

.about-text h4 {
  font-size: 29px;
  font-weight: 600;
  color: #fff;
  line-height: 1.7;
  margin: 15px 0 30px;
} */
.about {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 1.5rem;
}

.about-img img {
  padding-bottom: 20%;
  max-width: 500px;
  height: auto;
  width: 100%;
  border-radius: 8px;
}

.about-text h2 {
  font-size: 60px;
}

.about-text h2 span {
  color: black;
}

.about-text p {
  color: aliceblue;
  font-size: 20px;
  line-height: 1.4;
  margin-bottom: 4rem;
}

/* making styles */
@keyframes slideRight {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}

@keyframes slideLeft {
  0% {
    transform: translateX(100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}

@keyframes slideTop {
  0% {
    transform: translateY(100px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

@keyframes slideBottom {
  0% {
    transform: translateY(-100px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
